body{
  background-color: #b91750;
}
.ms_calcticket{
  background-color: #fff;
  border-radius: 10px;
  padding: 25px 0;
  margin-top: 25px;
}
.ms_title{
  margin-bottom: 25px;
}
.ms_input{
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 10px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.ms_input:focus{
  background-color: #ff74a5;
}
.ms_ticket{
  padding: 0 20px 0;
}
.ms_grey{
  background-color: lightgrey;
}
.ms_pad{
  padding: 10px;
}
.ms_categories{
  font-weight: 700;
  display: block;
}
.ms_visible{
  display: block;
}
.ms_hidden{
  display: none;
}
